:root {
    --dark-bg: #2e2e2e;
    --dark-text: #ffffff;
    --dark-text-secondary: #c0c0c0;
    --dark-button-bg: #343a40;
    --dark-button-border: #495057;
    --dark-textarea-color: #c0c0c0;
}

#btnToggleTheme {
    font-size: 1.25rem;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: var(--dark-gray-500);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

#btnToggleTheme:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

body.dark-mode #btnToggleTheme {
    color: white;
}

body.dark-mode #btnToggleTheme:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Ícones com transição suave */
.icon {
    position: absolute;
    transition: opacity 0.4s ease;
    font-size: 1.25rem;
}

/* Controle de visibilidade */
.sun {
    opacity: 0;
}

.moon {
    opacity: 1;
}

body.dark-mode .sun {
    opacity: 1;
}

body.dark-mode .moon {
    opacity: 0;
}

/* Estilos para o modo escuro */
body.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-text);
    transition: background-color 1s ease, color 1s ease;
}

body.dark-mode textarea {
    background-color: var(--dark-bg);
    color: var(--dark-textarea-color);
    transition: background-color 1s ease, color 1s ease;
}

body.dark-mode .box-exclamation {
    color: var(--dark-text-secondary);
    transition: color 1s ease;
}

body.dark-mode .box-controls button#btnDecrypted {
    background-color: var(--dark-button-bg);
    color: var(--dark-text);
    border: none;
    transition: background-color 1s ease, color 1s ease;    
}

body.dark-mode .box-controls button:last-child,
body.dark-mode .grid-item-3 button {
    background-color: transparent;
    color: var(--dark-text);
    border: 1px solid var(--dark-button-border);
    transition: background-color 1s ease, color 1s ease, border-color 1s ease;
}

body.dark-mode .box-result-encriptador {
    background-color: var(--dark-bg);
    color: var(--dark-text-secondary);
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.2);
    transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
}

body.dark-mode .box-result-encriptador h2 {
    color: var(--dark-text-secondary);
    transition: color 1s ease;
}

body.dark-mode .box-result-encriptador .pre-information {
    color: var(--dark-text-secondary);
    transition: color 1s ease;
}